{% extends 'rddt_main/layout.html' %}
{% block body %}
    <p class="row container border-bottom mx-0 px-0">
    <span class="col-auto pl-0 pr-1"> Опубликовано <b class="text-primary">{{ post.author.get_username }}</b></span>
    <span class="col-auto p-0">{{ post.publish_date }}</span>
    </p>

    <div class="container mb-4">
        {{ post.text|linebreaksbr }}
    </div>

    <div id="comment" class="pb-3">
        {% if user.is_authenticated %}
        <form action="{% url 'rddt_main:post_comment' post.id %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors.as_alert|safe }}

            {% for field in comment_form %}
                {{ field }}
                {{ field.errors.as_feedback|safe }}
            {% endfor %}

            <button type="submit" class="btn btn-dark my-1 btn-sm">Комментировать</button>
        </form>
        {% endif %}

        <br id="comments">
        {% for comment in post.root_comments %}
            {% include 'rddt_main/includes/comment_snippet.html' %}
        {% endfor %}
    </div>

{% endblock %}