<a href="{% url "rddt_main:post" post.id %}" class="post-link">
<div class="card mb-2">
    <div class="card-header small text-secondary">
        Опубликовано <b class="text-primary">{{ post.author.get_username }}</b> {{ post.publish_date }}
    </div>
    <div class="card-body">
        <span class="card-text">{{ post.text|linebreaksbr|truncatechars_html:300 }}</span>
    </div>
    <div class="card-footer py-1 small">
        {% if post.comment_set.count %}
            <a href="{% url "rddt_main:post" post.id %}#comments">{{ post.comments_count_sign }}</a>
        {% else %}
            <span class="pr-1">Нет комментариев</span>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url "rddt_main:post" post.id %}#comment" class="border-left pl-1">Комментировать</a>
        {% endif %}
    </div>
</div>
</a>