.container > .post-link {
    position: absolute;
}

.post-link {
    color: inherit;
    display: inline-block;
}

.post-link:hover {
    text-decoration: none;
    color: inherit;
}

.card:hover {
    border: 1px darkgray solid;
}

a.small {
    display: inherit;
}
